.aboutCont {
  width: 100%;
  height: 100%;
}

.aboutHeader {
  font-size: 3rem;
  font-weight: bold;
  color: rgba(230, 215, 215, 0.74);
  padding: 2rem;
}

.aboutHeaderLight {
  color: #474646;
}

.aboutContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: 80vh;
  margin: auto;
}

.photoCont {
  width: 20vw;
  height: auto;
  border-radius: 20px;
  border: solid wheat;
  padding: 2rem;
}

.photoCont img {
  width: 15vw;
  border-radius: 1rem;
}

.aboutDescription {
  text-align: justify;
  width: 30vw;
}

.aboutDescription p {
  font-size: 1.2rem;
  color: rgba(230, 215, 215, 0.74);
  border: solid wheat;
  padding: 2rem;
  border-radius: 1rem;
  text-indent: 2rem;
}

.aboutDescriptionLight p {
  color: #474646;
}

.aboutDescription strong {
  color: rgba(255, 249, 249, 0.74);
  font-weight: bold;
}

.aboutButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.aboutButtons a {
  margin: 0.4rem;
  width: 100%;
  padding: 0.8rem 0.3rem;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  line-height: 100%;
  color: rgba(230, 215, 215, 0.74);
  border: solid wheat;
  border-radius: 1rem;
}

.aboutButtonsLight a {
  color: #474646;
}

.aboutButtons a:hover {
  background-color: rgba(230, 215, 215, 0.74);
  color: black;
}

@media (max-width: 1650px) {
  .aboutDescription {
    text-align: justify;
    width: 40vw;
  }
}

@media (max-width: 1350px) {
  .aboutDescription {
    text-align: justify;
    width: 50vw;
  }
}

@media (max-width: 1200px) {
  .aboutDescription {
    width: 45vw;
  }
  .photoCont {
    width: 30vw;
  }
  .photoCont img {
    width: 20vw;
  }
}

@media (max-width: 1000px) {
  .aboutContent {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
    height: 80vh;
    margin: auto;
  }
  .aboutDescription {
    width: 90vw;
  }
  .photoCont {
    width: 50vw;
  }
  .photoCont img {
    width: 25vw;
  }
}

@media (max-width: 540px) {
  .aboutHeader {
    font-size: 2rem;
  }
  .aboutDescription p {
    font-size: 1rem;
  }
}

@media (max-width: 430px) {
  .aboutDescription p {
    font-size: 0.8rem;
    padding: 0.4rem;
  }
  .photoCont {
    width: 70vw;
    padding: 0.6rem;
  }
  .photoCont img {
    width: 40vw;
  }

  .aboutButtons a {
    margin: 0.3rem;
    padding: 0.4rem 0.4rem;
    font-size: 0.8rem;
  }
}

@media (max-height: 720px) {
  .aboutDescription p {
    font-size: 0.8rem;
    padding: 0.4rem;
  }
  .photoCont {
    padding: 0.6rem;
  }

  .aboutButtons a {
    margin: 0.3rem;
    padding: 0.5rem;
    font-size: 1rem;
  }
}
