.greeting {
  width: 100vw;
  height: 100vh;
  background-color: rgb(68, 67, 67);
  color: #d6c7c7;
}

.greetingLight {
  background-color: rgb(139, 139, 139);
  color: #474646;
}

.about {
  width: 100vw;
  height: 100vh;
  background-color: rgb(58, 58, 58);
}

.aboutLight {
  background-color: rgb(153, 152, 152);
}

.portfolio {
  width: 100vw;
  height: 100vh;
  background-color: rgb(68, 67, 67);
}

.portfolioLight {
  background-color: rgb(139, 139, 139);
}

.contacts {
  width: 100vw;
  height: 100vh;
  background-color: rgb(58, 58, 58);
}

.contactsLight {
  background-color: rgb(180, 179, 179);
}
