.greeting {
  width: 100vw;
  height: 100vh;
  background-color: rgb(68, 67, 67);
  color: #d6c7c7;
}

.about {
  width: 100vw;
  height: 100vh;
}

.portfolio {
  width: 100vw;
  height: 100vh;
  background-color: rgb(68, 67, 67);
}

.contacts {
  width: 100vw;
  height: 100vh;
}
