.contactsCont {
  width: 100%;
  height: 100%;
  margin: 0;
}

.contactsHeader {
  font-size: 3rem;
  font-weight: bold;
  color: rgba(230, 215, 215, 0.74);
  padding: 2rem;
}

.rowsCont {
  margin: auto;
  width: 60%;
  height: 5%;
}

.row {
  margin: 1rem auto;
  width: 80%;
  height: 10%;
  color: rgba(230, 215, 215, 0.74);
  font-size: 1.2rem;
}

.row a {
  text-decoration: none;
  color: pink;
}

@media (max-width: 900px) {
  .rowsCont {
    width: 90%;
    height: 10%;
  }
  .row {
    height: 50%;
  }
  .contactsHeader {
    padding: 1rem;
  }
}

@media (max-width: 540px) {
  .contactsHeader {
    font-size: 2rem;
  }
}
