.greetingCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.greetingCont h1 {
  font-size: 7rem;
  font-weight: bold;
  color: rgba(230, 215, 215, 0.74);
}

.greetingCont h2 {
  font-size: 5rem;
  color: rgba(230, 215, 215, 0.74);
}
