.greetingCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.greetingText {
  font-size: 7rem;
  font-weight: bold;
  color: rgba(230, 215, 215, 0.74);
}

.greetingTextLight {
  color: #474646;
}

.greetingUnderText {
  font-size: 5rem;
  color: rgba(230, 215, 215, 0.74);
}

.greetingUnderTextLight {
  color: #474646;
}

@media (max-width: 1550px) {
  .greetingCont h1 {
    font-size: 5rem;
  }
  .greetingCont h2 {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .greetingCont h1 {
    font-size: 4rem;
  }
  .greetingCont h2 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .greetingCont h1 {
    font-size: 4rem;
  }
  .greetingCont h2 {
    font-size: 2rem;
  }
}

@media (max-width: 430px) {
  .greetingCont h1 {
    font-size: 3rem;
  }
  .greetingCont h2 {
    font-size: 1rem;
  }
}
