.button {
  position: absolute;
}

.button:hover {
  opacity: 0.3;
}

.image {
  width: 4rem;
  cursor: pointer;
}

@media (max-width: 700px) {
  .image {
    width: 3rem;
  }
}

@media (max-width: 500px) {
  .image {
    width: 2.5rem;
  }
}
