.networksBarCont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem auto;
  width: 60%;
  height: 20%;
}

.networksBarCont img {
  width: 5rem;
}

.networksBarCont img:hover {
  cursor: pointer;
  opacity: 0.3;
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .networksBarCont {
    margin: 0.5rem auto;
    width: 80%;
  }
  .networksBarCont img {
    width: 3rem;
  }
}
