.portfolioHeader {
  font-size: 3rem;
  font-weight: bold;
  color: rgba(230, 215, 215, 0.74);
  padding: 2rem 2rem 0;
}

.portfolioCont {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  height: 80%;
}

.backButton {
  margin: 0.5rem;
  font-size: 2rem;
  color: pink;
  cursor: pointer;
}

.backButton:hover {
  opacity: 0.3;
}

@media (max-width: 1550px) {
  .portfolioCont {
    width: 100%;
  }
}

@media (max-width: 770px) {
  /*  .portfolioCont {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  } */
}
